
.location-dash-row1 {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 250px;
    height: 180px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
  }

.location-mat-card {
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 30px;
    background-color: rgb(242 248 254);
}

.location-dash-card {
    height: 200px;
    color: black;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    text-align: center;
    background-color: powderblue;
}

.location-dash-card-title {
    align-self: flex-start;
    top: 20px;
        left: 20px;
    margin: 0;
}

.location-dash-card p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    bottom: 20px;
        left: 20px;
}