
.location-dash-row1 {
    display: flex;
    justify-content: space-around;
}

.location-mats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 16px; /* Spacing between cards */
    margin-top: 20px; /* Add some top margin for separation */
  }

  

/* locationdash.css */
.location-mat-card {
    color: black;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    /* Limit the height of the card */
    max-height: 160px;
    overflow: hidden;
  
    /* Add hover effect */
    cursor: pointer;
  }
  
  .location-mat-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .location-mat-card h3 {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .location-mat-card p {
    font-size: 1rem;
    margin: 8px 0;
    color: #888888;
  }
  
  .location-mat-card button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    /* Move button to the right */
    align-self: flex-end;
  }
  
  .location-mat-card button:hover {
    background-color: #0056b3;
  }
  

  /* Add this to your locationdash.css or a relevant CSS file */
@media (max-width: 768px) { /* Adjust this value based on when you start seeing issues */
  .location-mat-card h3 {
      font-size: 14px; /* Adjust as needed */
  }

  .location-mat-card button {
      padding: 5px 10px; /* Adjust as needed */
      font-size: 12px; /* Adjust as needed */
  }

  .location-mat-card input[type="number"] {
      width: 50%; /* Adjust as needed */
      font-size: 12px; /* Adjust as needed */
  }
}
