.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Updated property */
    height: 100vh;

  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #444; */
    padding: 40px;
    border-radius: 8px;
  }
  
  .title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .label {
    color: #fff;
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .input {
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
  }
  
  .button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #222;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #111;
  }
  