.location-card {
    /* margin: 100px;
    
    x
    border: 3px solid green;
    width: 200px;
     */
    
    max-width: 550px;
    border: 0;
    width: 100%;
    margin-inline: auto;
    border-radius: 30px;
    background-color: rgb(242 248 254);
    
}
.card-content {
    
    
    margin: 5px;
    
    padding: 10px;
    color: black;
    text-align: center;
}
.location-card:hover {
    background-color: #39A2DB;
    cursor: pointer;
}